In [6]:
#dictionary
mydict ={
    "brand" :"maruthi",
    "model" :"swift",
    "year" :"2000"
}
#print(mydict["brand"])
#print(mydict.keys())
#print(mydict.values())
#mydict["model"] ="celerio"
print(mydict)

{'brand': 'maruthi', 'model': 'celerio', 'year': '2000'}

In [7]:
#removing item with specified keyname
mydict ={
    "brand" :"maruthi",
    "model" :"swift",
    "year" :"2000"
}
mydict.pop("model")
print(mydict)

{'brand': 'maruthi', 'year': '2000'}

In [8]:
#removing last inserted item
mydict ={
    "brand" :"maruthi",
    "model" :"swift",
    "year" :"2000"
}
mydict.popitem()
print(mydict)

{'brand': 'maruthi', 'model': 'swift'}

In [9]:
mydict.clear()

In [10]:
print(mydict)

{}

In [11]:
alist=["a","b","c","Anju","anju"]
alist.sort()
print(alist)

['Anju', 'a', 'anju', 'b', 'c']

In [13]:
list_one=["chennai","bangalore","Hyderabad","thrissur"]
list_one.reverse()
print(list_one)

['thrissur', 'Hyderabad', 'bangalore', 'chennai']

In [14]:
list_one=["chennai","bangalore","Hyderabad","thrissur"]
list_one.sort(key=str.lower)
print(list_one)

['bangalore', 'chennai', 'Hyderabad', 'thrissur']

In [16]:
list_one=["chennai","bangalore","Hyderabad","thrissur"]
list_one.sort()
print(list_one)

['Hyderabad', 'bangalore', 'chennai', 'thrissur']

In [17]:
#copy a list
list_one=["chennai","bangalore","Hyderabad","thrissur"]
blist=list(list_one)
print(blist)

['chennai', 'bangalore', 'Hyderabad', 'thrissur']

In [21]:
#tuple
tuple_one=("chennai","bangalore","Hyderabad","thrissur")
print(tuple_one)

('chennai', 'bangalore', 'Hyderabad', 'thrissur')

In [23]:
tuple_one=("chennai","bangalore","Hyderabad","thrissur")
print(len(tuple_one))

4

In [24]:
list_one=["chennai","bangalore","Hyderabad","thrissur"]
y=tuple(list_one)
print(y)

('chennai', 'bangalore', 'Hyderabad', 'thrissur')

In [25]:
string_a ="Hello World"
print(string_a[5:])

 World

In [26]:
list_one=["chennai","bangalore","Hyderabad","thrissur"]
i=0
while i<len(list_one):
    print(list_one[i])
    i=i+1

chennai
bangalore
Hyderabad
thrissur

In [27]:
string_a ="Hello World"
print(string_a.replace("o","A"))

HellA WArld

In [28]:
a="Hello"
b="World"
c = a+b
print(c)

HelloWorld

In [29]:
print(5**2)

25

In [30]:
print(3**3)

27

In [31]:
#floor division operator
x=22//3
print(x)

7

In [32]:
x=5
x+=10
print(x)

15

In [33]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [34]:
keyword.iskeyword('try')

True

In [35]:
name = 'anju'
my_identifier = name
print(name)

anju

In [36]:
#this is comment
a=10
def function():
    global a
    a += 10
    print(a)
print(a)
function()

10
20

In [37]:
set={True,False,'anju','anu','shanil',1,2,3,4,5}
print(set)

{False, True, 2, 3, 'anu', 4, 5, 'shanil', 'anju'}

In [38]:
set=list((True,False,'anju','anu','shanil',1,2,3,4,5))
print(set)

[True, False, 'anju', 'anu', 'shanil', 1, 2, 3, 4, 5]

In [39]:
list = [1,3,5,2,4,98,10]
list.remove(4)
print(list)

[1, 3, 5, 2, 98, 10]

In [44]:
#remove duplicates
list1 = ['a','b','c','a','b','c']
b = list(dict.fromkeys(list1))
print(b)

TypeError: 'list' object is not callable

In [45]:
x = 5
y = 3

print(x >= y)

True

In [46]:
x = 5

print(x > 3 and x < 10)

True

In [50]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
#print(x is z)
#print(x is y)
print(x == y)

True

In [51]:
x = ["apple", "banana","orenge"]

print("pineapple" not in x)

True

In [52]:
#set does not allow duplicate values
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

In [53]:
#set
set1 = {"anu", "banu" , "celin"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'anu', 'celin', 1, 2, 3, 'banu'}

In [54]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'a', 1, 2, 3, 'c', 'b'}

In [55]:
set1.add("manu")
print(set1)

{'a', 1, 2, 3, 'c', 'b', 'manu'}

In [56]:
if "a" in set1:
    print("a is present")

a is present

In [57]:
#get items present in both set: use intersection_update()
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [58]:
#duplicate keys are not allowed dictionaries
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [1]:
mylist = ["a", "b", "a", "c", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'c']

In [2]:
def my_function(x):
  return list(dict.fromkeys(x))

mylist = my_function(["a", "b", "a", "c", "c"])

print(mylist)

['a', 'b', 'c']

In [63]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

z = set1.difference(set2)

print(z)

{'cherry', 'banana'}

In [64]:
if 5 > 3 and 5 < 10:
  print("Both statements are True")
else:
  print("At least one of the statements are False")

Both statements are True

In [65]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [1]:
a = 33
b = 35
if b > a:
    print("b is greater than a")

b is greater than a

In [2]:
a = 200
b = 35
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [3]:
#nested if condition
x =41
if x > 10:
    print("Above Ten")
    if x > 20:
        print("Also above 20")
    else:
        print("but not above 20")

Above Ten
Also above 20

In [4]:
#Nested loop
colour = ["red","yellow","green","blue","white"]
fruits = ["mango","pinapple","orenge","grapes","banana"]
for x in colour:
    for y in fruits:
        print(x,y)

red mango
red pinapple
red orenge
red grapes
red banana
yellow mango
yellow pinapple
yellow orenge
yellow grapes
yellow banana
green mango
green pinapple
green orenge
green grapes
green banana
blue mango
blue pinapple
blue orenge
blue grapes
blue banana
white mango
white pinapple
white orenge
white grapes
white banana

In [5]:
def myfunction():
    print("hello world!")

In [6]:
myfunction()

hello world!