In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [2]:
keyword.iskeyword('try')

True

In [3]:
name = 'anju'
my_identifier = name

In [5]:
print(name)

anju

In [6]:
#this is comment

In [7]:
a=10
def function():
    global a
    a += 10
    print(a)
print(a)
function()

10
20

In [8]:
set={True,False,'anju','anu','shanil',1,2,3,4,5}
print(set)

{False, True, 2, 3, 4, 5, 'shanil', 'anu', 'anju'}

In [9]:
set=list((True,False,'anju','anu','shanil',1,2,3,4,5))
print(set)

[True, False, 'anju', 'anu', 'shanil', 1, 2, 3, 4, 5]

In [11]:
x=('anju','anu','123')
y=list(x)
y[1]='shanil'
x=tuple(y)
print(x)
print(y)

('anju', 'shanil', '123')
['anju', 'shanil', '123']

In [1]:
#string
string_one = "{1},{2},{0}".format('welcome','to','UST')
print("nposition order : ")
print(string_one)

nposition order :
to,UST,welcome

In [2]:
a = 10
b = float(a)
print(b)

10.0

In [3]:
s = 23.678
c = int(s)
print(c)

23

In [4]:
list = [1,3,5,2,4,98,10]
list.remove(4)
print(list)

[1, 3, 5, 2, 98, 10]

In [1]:
#remove duplicates
list1 = ["a","b","c","b","a","b"]
b=list(dict.fromkeys(list1))
print(b)

['a', 'b', 'c']

In [10]:
mylist = ['one','two','three','four','five','six']
print(mylist[2:5])

['three', 'four', 'five']

In [13]:
#range
mylist = ['one','two','three','four','five','six']
print(mylist[:4])

['one', 'two', 'three', 'four']

In [2]:
list1=['a','b','c','a','b','c']
b=list(dict.fromkeys(list1))
print(b)

['a', 'b', 'c']

In [16]:
mylist = ['one','two','three','four','five','six']
print(mylist[2:])

['three', 'four', 'five', 'six']

In [17]:
#negative indexing
mylist = ['one','two','three','four','five','six']
print(mylist[-4:-1])

['three', 'four', 'five']

In [18]:
mylist = ['one','two','three','four','five','six']
if "three" in mylist:
    print("three in my list")

three in my list

In [19]:
#replace new item
mylist = ['one','two','three','four','five','six']
mylist[2]="ind"
print(mylist)

['one', 'two', 'ind', 'four', 'five', 'six']

In [20]:
#replace new items(range of items)
mylist = ['one','two','three','four','five','six']
mylist[1:2]=["ind","eng"]
print(mylist)

['one', 'ind', 'eng', 'three', 'four', 'five', 'six']

In [21]:
#insert new item at specified index position
mylist = ['one','two','three','four','five','six']
mylist.insert(2,"ind")
print(mylist)

['one', 'two', 'ind', 'three', 'four', 'five', 'six']

In [23]:
#insert new item at end
mylist = ['one','two','three','four','five','six']
mylist.append("ind")
print(mylist)

['one', 'two', 'three', 'four', 'five', 'six', 'ind']

In [24]:
#combine two lists
mylist = ['one','two','three','four','five','six']
mylist2 = [1,2,3,45,5]
mylist.extend(mylist2)
print(mylist)

['one', 'two', 'three', 'four', 'five', 'six', 1, 2, 3, 45, 5]

In [25]:
#remove from list
mylist = ['one','two','three','four','five','six']
mylist.remove('three')
print(mylist)

['one', 'two', 'four', 'five', 'six']

In [26]:
#remove from list specifying index
mylist = ['one','two','three','four','five','six']
mylist.pop(2)
print(mylist)

['one', 'two', 'four', 'five', 'six']

In [27]:
#remove item from list sfrom end
mylist = ['one','two','three','four','five','six']
mylist.pop()
print(mylist)

['one', 'two', 'three', 'four', 'five']

In [3]:
#delete entire list
mylist = ['one','two','three','four','five','six']
del mylist
print(mylist)

NameError: name 'mylist' is not defined

In [29]:
#clear list make empty list
mylist = ['one','two','three','four','five','six']
mylist.clear()
print(mylist)

[]

In [30]:
#print using loop
mylist = ['one','two','three','four','five','six']
for x in mylist:
    print(mylist)

['one', 'two', 'three', 'four', 'five', 'six']
['one', 'two', 'three', 'four', 'five', 'six']
['one', 'two', 'three', 'four', 'five', 'six']
['one', 'two', 'three', 'four', 'five', 'six']
['one', 'two', 'three', 'four', 'five', 'six']
['one', 'two', 'three', 'four', 'five', 'six']

In [31]:
#print using loop
mylist = ['one','two','three','four','five','six']
for x in mylist:
    print(x)

one
two
three
four
five
six

In [32]:
#print using loop using indexing and range
mylist = ['one','two','three','four','five','six']
for x in range(len(mylist)):
    print(mylist[x])

one
two
three
four
five
six

In [ ]:
#using while loop
list_one=["chennai","bangalore","Hyderabad","thrissur"]
i=0
while i<len(list_one):
    print(list_one[i])
    i=i+1

In [ ]:
#sort
mylist = ['one','two','three','four','five','six']
mylist.sort()
print(mylist)

In [ ]:
mylist = ['one','two','three','four','five','six']
print(mylist)

In [ ]:
mylist1 = ['one','two','three','four','five','six']
print(mylist1)

In [ ]:
#sort in reverse
mylist = ['one','two','three','four','five','six']
mylist.sort(reverse = True)
print(mylist)

In [2]:
import calendar
result = calendar.month(2022,1)
print(result)

    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31