# SQL server connection

In [ ]:
pip install pyodbc

In [ ]:
import pyodbc

In [ ]:
conn =pyodbc.connect("Driver={SQL Server};"               
               "Server=localhost;"
               "Database=dbs_ToysManagementSystem_Anju;"
               "username=sa;"
               "password=P@ssw0rd;"
               "Trusted_Connection = no;")
cursor=conn.cursor()
cursor.execute('SELECT * FROM tms_Category')

for i in cursor:
    print(i)

# mysql connection

In [ ]:
pip install mysql-connector-python

In [3]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="root",password="")
mycursor=mydb.cursor()
mycursor.execute('create database upythondatabase')      #create database

In [5]:
dbs=mycursor.execute('show databases')      # check database is exist or not
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)
('upythondatabase',)
('ust_db',)
('ust_db_python',)
('ustdb',)
('usttrainingdatabase',)

In [8]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="root",password="",database="upythondatabase")
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")          #create table

In [9]:
mycursor.execute('show tables')             #check table exist
for x in mycursor:
    print(x)

('customers',)

In [ ]:
# creating primary key in a table

In [10]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="root",password="",database="upythondatabase")
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE customersdetails (id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255), address VARCHAR(255))")          #create table

In [11]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="root",password="",database="upythondatabase")
mycursor=mydb.cursor()
sql = "INSERT INTO customersdetails (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [12]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="root",password="",database="upythondatabase")
mycursor=mydb.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Anju', 'Lowstreet 4'),
  ('ANu', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Shanil', 'Valley 345'),
  ('A', 'Ocean blvd 2'),
  ('B', 'Green Grass 1'),
  ('C', 'Sky st 331') 
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

7 was inserted.

In [13]:
import mysql.connector

mydb = mysql.connector.connect(host="localhost",user="root",password="",database="upythondatabase")
mycursor=mydb.cursor()
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Anju', 'Lowstreet 4')
('ANu', 'Apple st 652')
('Hannah', 'Mountain 21')
('Shanil', 'Valley 345')
('A', 'Ocean blvd 2')
('B', 'Green Grass 1')
('C', 'Sky st 331')